<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>實習趣-你最佳的好幫手</title>
  <link rel="icon" href="img/ico/favicon.ico" type="image/x-icon" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
  <!-- Fonts -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/fonts/font-awesome.min.css"> -->
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="assets/fonts/simple-line-icons.css">
  <!-- Slicknav -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/slicknav.css"> -->
  <!-- Menu CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/menu_sideslide.css"> -->
  <!-- Slider CSS -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/slide-style.css"> -->
  <!-- Nivo Lightbox -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/nivo-lightbox.css" > -->
  <!-- Animate -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/animate.css"> -->
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="assets/css/main.css">
  <!-- Responsive Style -->
  <!-- <link rel="stylesheet" type="text/css" href="assets/css/responsive.css"> -->
  <!-- <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css"> -->
  <!-- css -->
  <!-- <link type="text/css" media="all" href="./css/login_1_main.css" rel="stylesheet" /> -->
  <!-- <link type="text/css" media="all" href="./css/login_1_tabs.css" rel="stylesheet" /> -->

  <!-- js -->
  <!-- <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> -->
  <!-- <script type="text/javascript" src="./js/login_1_tabs.js"></script> -->


  <!-- 測試 -->
  <!-- 上傳學生證 -->
  <link rel="stylesheet" type="text/css" href="../lib/login_2_UnoDropZone.css">
  <link rel="stylesheet" href="./css/login_2.css">
  <link rel="stylesheet" href="css/public.css">
  <link rel="stylesheet" href="css/signin/signin.css">
  <link rel="stylesheet" href="css/search/search.css">
  <link rel="stylesheet" href="css/allmodal.css">

  <link href="navbar_css_icon/styles/navbar.css" rel="stylesheet" type="text/css" media="all">
  <title>實習生註冊</title>

  <script>
		// var MyObject = {
		// 	foo: function (uplaodCont) {
		// 		console.log('calling foo');
		// 		console.log('uplaodCont:');
		// 		console.log(uplaodCont);
		// 		$('#callbackmsg').html('Call MyObject.foo() function at:' + new Date())
		// 	}
		// };

		// $(document).ready(function () {
		// 	UnoDropZone.init();
		// });
  </script>
</head>

<body>

  <!-- Header Area wrapper Starts -->
  <header id="header-wrap">
    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo navbarNoMove">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-navbar"
            aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
            <span class="icon-menu"></span>
          </button>
         
          <div class="navlogo">
            <a href="index"><img class="lconlogo" src="img/logo/logo.png" alt="">
            </a>
            <a href="index"><img class="lconlogo" src="img/logo/logowhite.png" alt="">
            </a>
            <!-- <a href="/index" class="navbar-brand">
              <h1>實習趣</h1> -->
            </a>
          </div>

        </div>
        <div class="collapse navbar-collapse" id="main-navbar">
          <ul class="onepage-nev navbar-nav mr-auto w-100 justify-content-end clearfix">
            <li class="nav-item active">
              <a class="nav-link" href="/search">
                實習職缺
              </a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="">
                關於實習趣
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="">
                聯絡我們
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/signinstudent">
                登入
              </a>
            </li>
          </ul>
        </div>
      </div>

      <!-- Mobile Menu Start -->
      <ul class="onepage-nev mobile-menu">
        <li>
          <a href="#home">Home</a>
        </li>
        <li>
          <a href="#about">about</a>
        </li>
        <li>
          <a href="#services">Services</a>
        </li>
        <li>
          <a href="#resume">resume</a>
        </li>
        <li>
          <a href="#portfolio">Work</a>
        </li>
        <li>
          <a href="#contact">Contact</a>
        </li>
      </ul>
      <!-- Mobile Menu End -->
    </nav>
    <!-- Navbar End -->

    <br>
    <br>

    <!-- Services Section End -->
    <section id="services" class="services section-padding">
      <h2 class="section-title wow flipInX" data-wow-delay="0.4s">實習生註冊</h2>
      <div class="container">
        <div class="row">
          <!-- 左邊空白card -->
          <div class="col-3">
          </div>
          <!-- 左邊空白card-End -->





          <div id="my_tabs" class="col-6 styled_tabs fatherSignLay ">
            <div class="services-item fontSizeSet signLay show" id="signFirstPart">

              <div class="services-content ">
                <div>
                  <label for="" class="labelLay">帳&emsp;&emsp;號：</label><input type="text" class="form-control signInputLay"
                    name="account" placeholder="" id="sAccount">
                </div>

                <div>
                  <label for="" class="labelLay">密&emsp;&emsp;碼：</label><input type="password" class="form-control signInputLay"
                    name="password" placeholder="" id="sPassword">
                </div>

                <div>
                  <label for="" class="labelLay">確認密碼：</label><input type="password" class="form-control signInputLay"
                    name="confirmPassword" placeholder="" id="sPasswordComfirm">
                </div>

                <div>
                  <label for="" class="labelLay">姓&emsp;&emsp;名：</label><input type="text" class="form-control signInputLay"
                    name="userName" placeholder="" id="sName">
                </div>

                <div>
                  <label for="" class="labelLay">信&emsp;&emsp;箱：</label><input type="text" class="form-control signInputLay"
                    name="eMali" placeholder="" id="sEmail">
                </div>

                <div>
                  <label for="" class="labelLay">電&emsp;&emsp;話：</label><input type="text" class="form-control signInputLay"
                    name="phone" placeholder="" id="sPhone">
                </div>

                <div class="text-center">
                  <a href="/signinstudent"><input type="button" name="previous" class="btn btn-outline-common"
                      value="返回"></a>

                  <input type="button" name="next" class="btn btn-common" value="下一步" id="signNext">
                </div>
              </div>
            </div>

            <div class="services-item  fontSizeSet signLay displaySet" id="signSecondPart">

              <div class="services-content ">
                <div>
                  <label for="" class="labelLay">生&emsp;&emsp;日：</label>
                  <input type="date" class="form-control signInputLay" name="" placeholder="" id="sBirthday">
                </div>
                <div>
                  <label for="" class="labelLay">性&emsp;&emsp;別：</label>
                  <select name="" id="sGender" class="form-control signInputLay" >
                    <option value="" class="d-none"></option>
                    <option value="男">男</option>
                    <option value="女">女</option>
                  </select>
                </div>
                <div>
                  <label for="" class="labelLay">學&emsp;&emsp;校：</label>
                  <div class="simulationInput signInputLay" id="selectShool" data-toggle="modal"
                    data-target="#schoolDialogBox">
                  </div>
                  <input type="text" class="form-control d-none" name="school" placeholder="學校" id="schoolSelected">
                </div>

                <div>
                  <label for="" class="labelLay">科系類別：</label>
                  <div class="simulationInput signInputLay" id="selectMajorClass" data-toggle="modal"
                    data-target="#majorClassDialogBox">
                  </div>
                  <input type="text" class="form-control d-none" name="majorClass" placeholder=""
                    id="majorClassSelected">
                </div>

                <div>
                  <label for="" class="labelLay">科系名稱：</label>
                  <input type="text" class="form-control signInputLay" name="majorName" placeholder="" id="majorName">
                </div>
                <div class="labelLay">
                  上傳學生證
                </div>
                <div>

                  <div class="row">
                    <div class="col-6">
                      <div class="imgUp">
                        <div class="imagePreview"></div>
                        <label class="btn btn-primary">
                          正面<input type="file" class="uploadFile img" value="Upload Photo"
                            style="width: 0px;height: 0px;overflow: hidden;" id="cardFront"
                            accept="image/gif, image/jpeg, image/png" name="stCard">
                        </label>
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="imgUp">
                        <div class="imagePreview"></div>
                        <label class="btn btn-primary">
                          反面<input type="file" class="uploadFile img" value="Upload Photo"
                            style="width: 0px;height: 0px;overflow: hidden;" id="cardBack"
                            accept="image/gif, image/jpeg, image/png" name="stCard">
                        </label>
                      </div>
                    </div>
                  </div>


                </div>

                <div class="text-center">
                  <input type="button" name="previous" class="btn btn-outline-common" value="上一步" id="signPrevious">
                  <input type="button" name="next" class="btn btn-common" value="確定" id="sSignUpConfirm">
                </div>
              </div>
            </div>
          </div>
          <!-- Services item -->




          <!-- 右邊空白card -->
          <div class="col-3">

          </div>
          <!-- 右邊空白card-End -->
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    <!-- Services Section End -->

    <!-- Services item -->

    <div class="col-md-6 col-lg-4 col-xs-12">

    </div>
    </div>
    </div>
    </section>
    <!-- Services Section End -->


    <!-- Resume Section Start -->
    <!-- <div id="resume" class="section-padding"> -->

    <!-- Resume Section End -->

    <!-- Footer Section Start -->
    <footer class="footer-area section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="footer-text text-center wow fadeInDown" data-wow-delay="0.3s">
              <!-- <ul class="social-icon">
                <li>
                  <a class="facebook" href="#"><i class="icon-social-facebook"></i></a>
                </li>
                <li>
                  <a class="twitter" href="#"><i class="icon-social-twitter"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-instagram"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-linkedin"></i></a>
                </li>
                <li>
                  <a class="instagram" href="#"><i class="icon-social-google"></i></a>
                </li>
              </ul> -->
              <p>實習趣. 版權所有</p>
              <p>資策會 <a href="https://www.iiiedu.org.tw/f2e/">前端工程師養成班學員製作</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Go to Top Link -->
    <a href="#" class="back-to-top">
      <i class="icon-arrow-up"></i>
    </a>

    <!-- 選學校對話框 -->
    <div class="modal fade" id="schoolDialogBox" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">

      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">地區選擇</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body">

            <div class="cityItems">
              <div class="nav flex-column" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                <div>縣市：</div>

                <!-- 一組縣市 -->
                <% cityList.forEach(function(cityList){ %>
                <a class="nav-link cityNavItem" id="city<%= cityList.cityId %>" data-toggle="pill"
                  href="#area<%= cityList.cityId %>" role="tab" aria-selected="true"><%= cityList.cityName %></a>
                <% }) %>
                <!-- 一組縣市^ -->
              </div>
            </div>

            <div class="areaItem overflow-auto">
              <div class="tab-content" id="v-pills-tabContent">
                <div>
                  校名：
                </div>
                <!-- 一組區 -->

                <% cityList.forEach(function(cityList){  
                  var citySelect = cityList.cityId;
                  
                  var filterSchool = schoolList.filter(function(item,index,array){
                   return (citySelect-1 < item.cityId) && (item.cityId< citySelect + 1);   
                   })
                 
                 %>
                <div class="tab-pane fade " id="area<%= cityList.cityId %>" role="tabpanel">
                  <% filterSchool.forEach(function(school){ %>
                  <div class="arealay">
                    <input type="radio" id="school<%= school.schoolId %>" name="schoolSelected"
                      value="<%= school.schoolName %>" data-schoolValue="<%= school.schoolId %>"> 
                    <label for="school<%= school.schoolId %>" class="arealaylabel"><%= school.schoolName %></label>
                  </div>
                  <% })  %>
                </div>
                <% }) %>
                <!-- 一組區^ -->
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-common" data-dismiss="modal" id="areaCancelBtn">關閉</button>
            <button type="button" class="btn btn-common" data-dismiss="modal" id="schoolComfirmBtn">確定</button>
          </div>
        </div>
      </div>
    </div>
    <!-- 選學校對話框END -->


    <!-- 選科系類別對話框 -->
    <div class="modal fade" id="majorClassDialogBox" tabindex="-1" role="dialog"
      aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">

      <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">

          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalScrollableTitle">科系類別選擇</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>

          <div class="modal-body ">
            <div class="classCheckBoxLay">
              <div>科系類別：</div>

              <!-- a set -->
              <% majorClassList.forEach(function(majorClass){ %>
              <div class="classCheckBoxItem">
                <input type="radio" id="majorClass<%= majorClass.majorId %>" name="majorClass"
                  value="<%= majorClass.majorClass %>" data-majorClassValue="<%= majorClass.majorId %>"><label
                  for="majorClass<%= majorClass.majorId %>" class="arealaylabel"><%= majorClass.majorClass %></label>
              </div>
              <% }) %>
              <!-- a set -->





            </div>

          </div>


          <div class="modal-footer">
            <button type="button" class="btn btn-outline-common" data-dismiss="modal" id="clsseCancelBtn">關閉</button>
            <button type="button" class="btn btn-common" data-dismiss="modal" id="majorClassComfirmBtn">確定</button>
          </div>

        </div>

      </div>
    </div>
    <!-- 選科系類別對話框END -->



    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="assets/js/jquery-min.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/jquery.mixitup.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/jquery.nav.js"></script>
    <script src="assets/js/jquery.easing.min.js"></script>
    <script src="assets/js/nivo-lightbox.js"></script>
    <script src="assets/js/jquery.slicknav.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="assets/js/form-validator.min.js"></script>
    <script src="assets/js/contact-form-script.min.js"></script>
    <script src="assets/js/map.js"></script>
    <script src="js/sign/sign.js"></script>
    <script src="js/sweetalert/sweetalert.min.js"></script>
    <script src="js/ajaxrequest/signup.js"></script>
    <script src="js/quick.js"></script>
</body>

</html>